body{
    font-family: sans-serif;
    margin:0;
    padding:0;
}


header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a0e3ea;
}

main {
    padding: 18px;
    max-width: 1080px;
    margin: 0 auto;
}